*{
    list-style: none;
    text-decoration: none;
    font-family: Moderustic;
}

a{
   color: #0A1D5D;
}

.section-hero{
    width: 100%;
    height: 700px;
background-image: linear-gradient(#76565666,#76565666),
url(./img/hero.jpeg);
    background-position: center;
    background-size: cover;
}

.navigation{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.nav-list{
    display: flex;
    gap: 85px;
    /* margin-top: 120px; */
    align-items: center;
    position: fixed;
    margin-left: 800px;
}

.nav-list-item:hover{
    transform: scale(1.2);
}

.nav-list-item:nth-child(1){
    transition-duration: 300ms;
}
.nav-list-item:nth-child(2){
    transition-duration: 300ms;
}
.nav-list-item:nth-child(3){
    transition-duration: 300ms;
}
.nav-list-item:nth-child(4){
    transition-duration: 300ms;
}

.nav-list-item{
    transition-property: transform;
    color: #0A1D5D;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 1px;
margin-bottom: 1px;
text-decoration: none;
}

.navigation-name{
    display: flex;
    margin-left: 70px;
}

.icon-line{
    z-index: 2;
    width: 1px;
    height: 75px;
    border-right: 2px solid #0A1D5D;
    background-color: #fff;
    margin-right: 30px;
    overflow: hidden;
    display: flex;
}

.schuefi{
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 17.5px;
}

.icon-line:nth-child(1){
    animation: animated-line 5000ms infinite 2000ms;
}



@keyframes animated-line {
    0%{
/* transform: translateX(230px); */
width: 3px;
    }
    50%{
       /*  transform: translateX(-15px); */
       width: 210px;
    }
    100%{
        /* transform: translateX(230px); */ 
    }
}

.name-div{
    z-index: 1;
    position: fixed;
    padding-left: 20px;
}
.name{
    text-transform: uppercase;
    color: #D84329;
    font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 200% */
letter-spacing: 2px;
margin-top: 1px;
margin-bottom: 1px;
}

.name2{
    color: #0A1D5D;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 1px;
margin-bottom: 1px;
}

.section-hero{
    display: flex;
}

.hero-text-div{
    display: flex;
    align-items: flex-end;
    padding-left: 70px;
    padding-bottom: 80px;
}

.hero-main{
    color: white;
    font-size: 39px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 1px;
margin-bottom: 1px; 
}

.hero-paragraph{
    color: rgba(255, 255, 255, 0.702);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 1px;
margin-bottom: 1px;  
padding-top: 10px;
}


.section-team{
    display: flex;
    align-items: center;
    margin-top: 70px;
   flex-direction: column;
   margin-bottom: 100px;
   text-align: center;
}

.team-about-us{
    display: flex;
    justify-content: center;

    color: #0A1D5D;

    font-family: Moderustic;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
}

.team-desrc{
    display: flex;
    justify-content: center;
    padding: 20px 100px;

    color: #0A1D5D;

font-family: Moderustic;
font-size: 18px;
font-style: normal;
font-weight: 500;
/* line-height: 40px; /* 200% */ */
letter-spacing:1.08px;
}

.team-wrap{
   
    max-width: 500px;
}

.section-contact{
    height: 340px;
    padding-top: 70px;
    background-color: rgb(248, 238, 235);
    padding-bottom: 150px;
margin-bottom: 150px;
    margin-left: 10%;
    margin-right: 10%;
  /*   border-radius: 30px; */
}
.contact-main{
    display: flex;
    justify-content: center;
    color: #0A1D5D;

    font-family: Moderustic;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 100px;
    text-align: center;
}

.contact-list{
   text-align: center;
   color: #0A1D5D;
  /*  margin-bottom: 150px; */
}
/* 
.contact-list:nth-child(1){
    margin-bottom: 100px;
} */

.footer-wrap{
    display: flex;
   flex-direction: row;
   align-items: flex-start;
/* margin-left: 80px; */
margin-left: 80px; 
margin-right: 80px;
margin-bottom: 70px;
width: 1250px;
justify-content: space-between;
}

.footer-list{
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-left: 1px;
}
.footer-main{
    margin-bottom: 2px;
    text-transform: uppercase;
    color: #D84329;
    font-size: 30px;
    font-family: Moderustic;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 200% */
letter-spacing: 2px;
margin-top: 1px;
margin-bottom: 1px;

}

.footer-main-sec{   
    color: #0A1D5D;
    font-size: 25px;
    font-family: Moderustic;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 1px;
margin-bottom: 1px;
}

.footer-list-item{
    color: #0A1D5D;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
letter-spacing: 1.08px;

}
/* 
.slider-img{
    height: 200px;
    width: 300px;
} */

.team-img{
height: 250px;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
margin-top: 5px;
}

.pages-main-wrap{
width: 100%;
}

.pages-main{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;

    color: #0A1D5D;
    font-family: Moderustic;
}

.team-pages-list{
    display: flex;
   justify-content: center;
 flex-wrap: wrap;
}

.team-pages-item{
    border: 1px solid rgba(0, 0, 0, 0.238);
margin: 10px;
}

.team-pages-main{
    padding-left: 20px;
    font-family: Moderustic;
    font-size: 20px;
    font-weight: 300px;
    color: #0A1D5D;
}

.team-pages-para{
    padding-left: 20px;
    padding-bottom: 30px;
    font-family: Moderustic;
    font-size: 14px;
    font-weight: 200px;
    color: #0A1D5D;
}

